@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:300,400,700');
@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');


body {
  color: #3a3a3a;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.primary {
  color: #ffffff;
  font-family: Courgette;
  font-size: 9.2rem;
  font-weight: 400;
  line-height: 10.2rem;
  
  @include media(small) {
    font-size: 7.2rem;
    line-height: 8.2rem;
  }
}

.secondary {
  text-align: center;
  position: relative;
  color: #3a3a3a;
  font-family: Courgette;
  font-size: 4.7rem;
  font-weight: 400;
  line-height: 5.7rem;
  
  &::before {
    content: '';
    position: absolute;
    bottom: -40px; left: 50%;
    width: 43px;
    height: 13px;
    transform: translateX(-50%);
    background: url(../../img/dzyndzel.png) no-repeat;
  }
  
  &--darker {
    color: #0f1a21;
  }
  &--blood {
    color: #f94e48;
  }
}

.tertiary {

}

.text {

  &--red {
    color: #f94e48;
  }

  &--bold {
    font-weight: 700;
  }
}