.button {

  &--sign-up {
    margin-top: 4.3rem;
    padding: 1.5rem 6rem;
    border-radius: 10px;
    background-color: #f94e48;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 4.2rem;
    border: 2px solid #f94e48;
    outline: none;
    cursor: pointer;
    transition: .2s;

    &:hover {
      background-color: #ffffff;
      color: #f94e48;
    }
  }

  &--scroll {
    position: relative;
    position: absolute;
    bottom: 20px; left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50px;

    &:hover &::before {
      animation-play-state: paused;
    }
    
    &::before {
      content: '';
      position: absolute;
      top: 7px ;left: 50%;
      transform: translateX(-50%);
      width: 7px;
      height: 10px;
      background: #fff;
      border-radius: 50%;
      opacity: 1;
      animation: mouse 1.5s infinite;
    }
  }
}